.header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 7vh;
    top: 12px; /* Adjusted top position */
    left: 12px; /* Adjusted left position */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17vw;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 10000;
}

.header nav {
    display: flex;
    position: fixed;
    background-color: #ffffff;
    height: calc(100% - 7vh);
    top: 7vh;
    left: 100%;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
}

.header nav a {
    color: #000000;
    text-decoration: none;
    margin-left: 10vw;
    display: block;
    margin-bottom: 100px; /* Adjust the desired amount of vertical spacing between links */
    border-radius: 3px;
    padding: 8px; /* Add padding to the links */
}
.header .menu-toggle {
    display: none;
}

.header .menu-toggle + label {
    display: none;
    font-size: 5vw; /* Adjusted font size for slimmer lines */
    cursor: pointer;
    padding: 1.5vh;
}

@media (max-width: 768px) {
    .header {
        padding: 4vw;
    }

    .header .menu-toggle + label {
        display: block;
    }

    .header .menu-toggle:checked ~ nav {
        left: 0;
    }
}




